{% if has_class == false %}
    <script>
        $(function () {
            // ページ最下部に移動
            $('#univapay-info').appendTo($('#form1 > div.c-contentsArea__cols > div > div.c-primaryCol'));
        });
    </script>
    <div class="d-none">
        <div id="univapay-info" class="card rounded border-0 mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <span class="card-title">UnivaPay</span>
                    </div>
                    <div class="col-4 text-right">
                        <a data-toggle="collapse" href="#univapay-info__body" aria-expanded="false" aria-controls="univapay-info__body"><i class="fa fa-angle-up fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="collapse show ec-cardCollapse" id="univapay-info__body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3"><span>{{ 'univa_pay.subscription.period'|trans }}</span></div>
                        <div class="col mb-2">
                            {{ form_widget(form.class.subscription_period) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
